@{
    ViewData["Title"] = "implementation";
}
<h2>Trading NEWS+ Application</h2>
<hr />
<h2>Implementation</h2>
<div>
    <p>
        
        <a href="https://github.com/desmie/projectalpha">Github</a>
        <ul>
            <li>We performed exploratory analysis and on the IEX Trading website and the GitHub code shared by the professor for comprehending the data about the stocks and the MVC model.</li>
            <li>After a brainstorming discussion and detailed research, we decided to display Sector Performance data, Dividend data, Latest News and Stocks Infocus to help the user gain more insights about the stock market    </li>
            <li>This would serve as a one stop repository and information resource center for any user looking to trade stocks. This would help the users to be up to date with the current affairs of the trading world.</li>
            <li>The parameters we are taking into consideration are the domain to which the stock belongs to, the performance of the stock, news about the market and the current qualification status of the dividends</li>
            <li>We had a comprehensive understanding on how stock pricing work and what basis the stocks are traded utilizing parameters such as open value, open time, close value, day low, volume and many other associated variables involved.</li>
            <li>We created a new function in the controller which would extract all the stocks from the infocus stocks section of the page. Then we programmed a model which would extract the required information from IEX Trading website.</li>
            <ul>
                <li>Swayam Joshi - Data Scientist - MS in BAIS from USF</li>
                <li>Desmie Fernanded - Data Scientist - MS in BAIS from USF</li>
                <li>Ramanna - Data Scientist - MS in BAIS from USF</li>
            </ul>
        </ul>
    </p>
</div>